*,
*::before,
*::after {
  box-sizing: border-box;
}

@import 'tailwindcss';

:root {
  --color-mint-gray: #e0e2e1;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
}
